{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%-
  set classes = [
    'block',
    'block-config-provider--' ~ configuration.provider|clean_class,
    'block-plugin-id--' ~ plugin_id|clean_class,
    label ? 'has-title'
  ]
-%}
{%- set heading_id = attributes.id ~ '-title'|clean_id -%}
<div{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}{%- if label %} role="region" aria-labelledby="{{ heading_id }}"{%- endif -%}>
  <div class="block__inner login-register-block">
    {{ title_prefix }}
    {%- if label -%}
      <h2 {{ title_attributes.addClass('block__title').setAttribute('id', heading_id) }}><span>{{ label }}</span></h2>
    {%- endif -%}
    {{ title_suffix }}

    {{ content.trigger_library }}
    <div class="login-register-dropdown-trigger login-register-dropdown"></div>

    <div class="dropdown-container">

      <div class="login-register-triangle"></div>
      <div class="login-register-buttons">

        {%- if content.login_button or content.register_button -%}
          {{ content.tab_library }}
          <ul class="my-account-buttons-list">
            {%- if content.login_button -%}
              <li>{{- content.login_button -}}</li>
            {%- endif -%}
            {%- if content.register_button -%}
              <li>{{- content.register_button -}}</li>
            {%- endif -%}
          </ul>

          {%- block content -%}
            <div{{ content_attributes.addClass('block__content') }}>
              <div class="login-register-forms popup-form-wrapper">
                {%- if content.image -%}
                  <div class="form-image">{{- content.image -}}</div>
                {% endif %}
                <div class="forms">
                  <div class="tabs-wrapper">
                    <div class="tab-name" id="sign-in">
                      {% trans with {'context': 'Login popup'} %}Sign in{% endtrans %}
                    </div>
                    <div class="tab-name" id="sign-up">
                      {% trans with {'context': 'Login popup'} %}Sign up{% endtrans %}
                    </div>
                  </div>
                  <div class="tab-forms">
                    <div class="tab-form sign-in-form">
                      <div class="form-title">{% trans with {'context': 'Login popup'} %}Welcome back!{% endtrans %}</div>
                      {{- content.sign_in -}}
                    </div>
                    <div class="tab-form sign-up-form">
                      {{- content.sign_up -}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          {%- endblock -%}
        {%- endif -%}

        {%- if content.my_account or content.logout -%}
          <ul class="my-account-buttons-list">
            {%- if content.my_account -%}
              <li>{{- content.my_account -}}</li>
            {%- endif -%}
            {%- if content.logout -%}
              <li>{{- content.logout -}}</li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>

  </div>
</div>
